@import url('https://fonts.googleapis.com/css2?family=Lato');

:root {
  --color-white: #fff;
  --color-main: #ec5242;
  --color-text: #4e4b4be1;
  --color-back: #f8f8f8;
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  display: none;
}

.introduction {
  background-image:
    url(../../images/img1.png),
    url(../../images/img2.png),
    url(../../images/img3.png),
    url(../../images/img4.png),
    url(../../images/img5.png);
  background-position: 85% 8%, 3% 23%, 50% 50%, 98% 52%, 80% 60%;
  background-size: 50px 50px, 25px 25px, 100px 100px, 30px 30px, 60px 60px;
  background-color: #f8f8f8;
  padding: 1.2rem;
  background-repeat: no-repeat;
}

.intro-col > .h-page-title-home,
.intro-col > h3 {
  color: var(--color-main);
  margin-top: 1rem;
}

.intro-col > .h-page-title-home {
  font-size: 42px;
  font-weight: bold;
  background-image: url(../../images/salaxaward.jpeg);
  text-transform: uppercase;
  background-clip: content-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hdate {
  font-size: 26px;
  font-weight: bold;
  color: var(--color-text);
}

.plocation {
  color: var(--color-text);
  font-size: 18px;
}

.links {
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-text);
  font-weight: 700;
}

.links:hover {
  color: var(--color-main);
}

.links-active {
  color: var(--color-main);
}

.btn-ticket {
  margin-left: 3rem;
  border: 3px solid var(--color-main);
  border-radius: 5px;
  padding: 0.1rem 1.3rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-main);
  font-weight: 700;
}

.btn-ticket:hover {
  color: var(--color-white);
  background: var(--color-main);
}

.progarms {
  background-image: url(../../images/bg_asset.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  --bs-gutter-x: 0;
}

.program-inner-container {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.h-agenda {
  color: var(--color-white);
}

#h-more {
  margin-top: 2rem;
  color: var(--color-white);
  border-bottom: 2px solid var(--color-white);
  text-decoration: none;
}

.program-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.agenda-item {
  background-color: rgba(233, 233, 233, 0.185);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.agenda-item:hover {
  background-color: rgba(247, 238, 238, 0.377);
  border: 1px solid #fff;
  cursor: pointer;
}

.title-partner {
  color: var(--color-white);
}

.item-title {
  color: var(--color-main);
}

.nominees {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 10%;
  height: 0.2rem;
  background: var(--color-main);
}

.nom-title {
  font-weight: bold;
  color: var(--color-text);
}

.h-name {
  font-weight: bold;
  color: var(--color-text);
}

.h-type {
  color: var(--color-main);
}

.p-desc {
  color: var(--color-text);
}

.partners {
  background-color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  color: var(--color-text);
  font-weight: bold;
}

.p-footer {
  color: var(--color-text);
  font-size: 13px;
}

.footer-info-container {
  display: flex;
  align-items: center;
}

.cust-card {
  background-color: #f7f7f7;
  border: 3px solid #fff;
}

.menu-icon-container {
  display: block;
}

.partner-logo {
  width: 200px;
  height: 40px;
}

.image-artist {
  width: 100px;
  height: 100px;
}

.menu-container {
  width: 70%;
  height: 200px;
  z-index: 2;
  position: absolute;
  background-color: var(--color-white);
  box-shadow: 3px 3px rgba(226, 226, 226, 0.603);
}

.menu-items {
  height: 100%;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  padding: 1.2rem 0 1.2rem 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.links-menu {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-text);
  font-weight: 700;
  margin-top: 2rem;
}

.links-menu:hover {
  color: var(--color-main);
}

.links-active-menu {
  color: var(--color-main);
}

.btn-ticket-menu {
  border: 3px solid var(--color-main);
  border-radius: 5px;
  padding: 0.3rem 1.3rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-main);
  font-weight: 700;
}

.btn-ticket-menu:hover {
  color: var(--color-white);
  background: var(--color-main);
}

.show-or-hide {
  visibility: hidden;
}

.icon-programs {
  width: 70px;
  height: 70px;
}

.p-programs-desc {
  font-size: 12px;
}

.top-bar {
  display: none;
}

@media only screen and (min-width: 768px) {
  *,
  ::after,
  ::before {
    box-sizing: content-box;
  }

  .header {
    height: 20%;
    box-shadow: 2px 2px 2px 1px rgba(133, 133, 133, 0.2);
    display: flex;
    align-items: center;
    padding-left: 5rem;
  }

  .menu-icon-container {
    display: none;
  }

  .introduction {
    padding: 7rem;
  }

  .intro-col > .h-page-title-home {
    font-size: 56px;
  }

  .hdate {
    font-size: 34px;
  }

  .partner-logo {
    width: 300px;
    height: 70px;
  }

  .image-artist {
    width: 120px;
    height: 120px;
  }

  .menu-container {
    visibility: hidden;
  }

  .nominees {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nominated-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .top-bar {
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: var(--color-text);
  }

  .links-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0;
  }

  .top-links-container {
    display: flex;
    width: 350px;
    justify-content: space-around;
    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
  }

  .top-links {
    color: var(--color-white);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  .top-links:hover {
    color: rgb(235, 235, 235);
  }
}

@media only screen and (max-width: 574px) {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  .partner-logo {
    width: 30%;
    height: 20px;
  }

  .program-list {
    display: block;
  }

  .item-xsm-outer {
    flex-wrap: unset;
  }

  .item-xsm {
    display: flex;
    justify-items: center;
    align-items: center;
    width: unset;
    flex-wrap: unset;
  }

  .info-program-container {
    display: flex;
    flex-shrink: unset;
    padding-right: 0;
    align-items: center;
  }

  .item-title {
    font-size: 14px;
  }

  .p-programs-desc {
    font-size: 12px;
    margin-left: 1rem;
  }

  .agenda-item {
    text-align: unset;
    padding: 0.2rem;
  }

  .image-artist-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p-desc {
    font-size: 14px;
  }

  .h-type {
    font-size: 15px;
  }

  .foooter-texts {
    text-align: center;
  }

  .icon-programs {
    width: 50px;
    height: 50px;
    margin: 1rem;
  }

  .footer-info-container {
    display: block;
  }
}
